.sectionOne {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}
.liftSide {
  width: calc(100% - 550px);
}
.head {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo svg {
  fill: #fc8019;
  width: 200px;
  height: 40px;
  margin-left: 50px;
}
.btn {
  margin-right: 25px;
  margin-top: 5px;
}
.login {
  outline: none;
  border: none;
  background-color: white;
  letter-spacing: 0;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  box-sizing: border-box;
}
.login:hover {
  color: #fc8019;
}
.signup {
  outline: none;
  border: none;
  background-color: #000;
  color: white;
  letter-spacing: 0;
  font-size: 18px;
  text-decoration: none;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
}
.signup:hover {
  background-color: #252525;
  color: white;
}
.rightSide {
  max-width: 550px;
}
.rightSide img {
  max-width: 550px;
  height: 100%;
}
.title {
  margin-top: 55px;
  margin-bottom: 10px;
  margin-left: 80px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.45px;
  color: #282c3f;
}
.titelpa {
  line-height: 30px;
  letter-spacing: -0.3px;
  margin-left: 80px;
  color: #686b78;
  font-size: 25px;
}
.findLocation {
  display: flex;
  margin-left: 80px;
  margin-top: 45px;
}
.input {
  display: flex;
  padding: 20px;
  border: 1px solid #fc8019;
  border-right: none;
  justify-content: space-between;
  width: 68%;
}
.input input {
  border: none;
  outline: none;
  color: #686b78;
  font-size: 18px;
}
.input button {
  border: none;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
  color: #686b78;
  cursor: pointer;
}
.search {
  background-color: #fc8019;
  align-self: center;
  padding: 22px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.search:hover {
  background-color: #f1740d;
  cursor: pointer;
}
.cities {
  color: #a9abb2;
  font-weight: 400;
  font-size: 16px;
  margin-left: 80px;
  margin-top: 45px;
}
.citie {
  margin-top: 15px;
  margin-left: 80px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.citie div {
  color: #575758;
  font-weight: 400;
  font-size: 14px;
  font-weight: 600;
  padding: 0 2px;
}
.body_one_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #2b1e16;
}
.body_one_content {
  text-align: center;
}
.body_one_content h1 {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 800;
  font-family: "Basis Grotesque Pro", sans-serif;
  color: rgba(255, 255, 255, 0.92);
  line-height: 28px;
  letter-spacing: -0.4px;
  box-sizing: border-box;
  padding-left: 10px;
}
.body_one_content p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Basis Grotesque Pro", sans-serif;
  color: rgba(255, 255, 255, 0.92);
  line-height: 28px;
  letter-spacing: -0.4px;
  box-sizing: border-box;
}
@media (max-width: 1171px) {
  .login {
    font-size: 14px;
  }
  .signup {
    font-size: 14px;
  }
  .title {
    font-size: 30px;
  }
  .titelpa {
    font-size: 20px;
  }

  .input {
    padding: 15px;
  }
  .input input {
    font-size: 14px;
  }

  .search {
    padding: 17px;

    font-size: 14px;
  }

  .cities {
    font-size: 16px;
    margin-top: 80px;
  }
  .citie {
    margin-top: 15px;
    margin-left: 80px;
    margin-bottom: 20px;
  }
  .citie div {
    font-size: 14px;
    padding: 3px;
  }
}
@media (max-width: 1055px) {
  .liftSide {
    width: calc(100% - 400px);
  }
  .rightSide {
    max-width: 400px;
  }
  .rightSide img {
    max-width: 400px;
    height: 100%;
  }
}
@media (max-width: 919px) {
  .liftSide {
    width: calc(100% - 300px);
  }
  .rightSide {
    max-width: 300px;
  }
  .rightSide img {
    max-width: 300px;
    height: 100%;
  }
}
@media (max-width: 825px) {
  .liftSide {
    width: calc(100% - 250px);
  }
  .rightSide {
    max-width: 250px;
  }
  .rightSide img {
    max-width: 250px;
    height: 100%;
  }
}
@media (max-width: 770px) {
  .liftSide {
    width: calc(100% - 0px);
    margin-left: 0px;
  }
  .rightSide {
    display: none;
  }
  .title {
    font-size: 20px;
  }
  .titelpa {
    font-size: 18px;
  }
  .input {
    width: 70%;
    padding: 5px;
  }
  .search {
    padding: 15px;
  }
  .input input {
    font-size: 14px;
  }
  .input button {
    font-size: 10px;
  }
  .svg {
    width: 10px;
    height: 8px;
  }
}
@media (max-width: 480px) {
  .liftSide {
    width: calc(100% - 0px);
    margin-left: 0px;
  }
  .rightSide {
    display: none;
  }
  .title {
    font-size: 25px;
    margin-left: 20px;
  }
  .titelpa {
    font-size: 16px;
    margin-left: 20px;
  }
  .findLocation {
    margin-left: 20px;
  }
  .input {
    width: 70%;
    padding: 5px;
  }
  .search {
    padding: 15px;
  }
  .input input {
    font-size: 16px;
  }
  .input button {
    font-size: 16px;
  }
  .svg {
    width: 5px;
    height: 5px;
  }

  .cities {
    color: #a9abb2;
    font-weight: 400;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 45px;
  }
  .citie {
    margin-top: 15px;
    margin-left: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
  .logo svg {
    fill: #fc8019;
    width: 200px;
    height: 40px;
    margin-left: 5px;
  }
  .input button {
    display: none;
  }
}
@media (max-width: 410px) {
  .logo svg {
    fill: #fc8019;
    width: 200px;
    height: 40px;
    margin-left: 5px;
  }

  .login {
    font-size: 16px;
    padding: 10px 15px;
  }

  .signup {
    font-size: 16px;
    padding: 10px 15px;
  }
  .input button {
    display: none;
  }
}
